$black: #030c14;
$red: #550f0a;

button, .btn {
  text-transform: uppercase;

  &:not(:last-child) {
	margin-right: .4rem;
  }
}

.v-table {
  margin-top: 20px;

  table {
	width: 100vh;
  }
}


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: $black;
}
::-webkit-scrollbar-thumb:hover {
  background: lighten($red, 10%);
}
